body{
  background-color: #f8dda4;
}
.nav-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
  position: absolute;
  top: 0%;
  background-color: #0d2149;
  color: #D4D5C8;
}

.nav-bar img{
  width: 100px;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
}

.page img{
  width: 50%;
  
}