
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App.css */
:root {
  --bs-primary: #767165;
  --bs-primary-rgb: 118, 113, 101;
  --bs-dark: #2b3848;
  --bs-dark-rgb: 43, 56, 72;
}

.btn-primary {
  --bs-btn-bg: #767165;
  --bs-btn-border-color: #767165;
  --bs-btn-color: #e2c59d;
  --bs-btn-hover-bg: #e5dac3;
  --bs-btn-hover-border-color: #e5dac3;
  --bs-btn-hover-color: #2b3848;
  --bs-btn-active-bg: #4a463e;
}

/* .text-light {
  color: #e2c59d !important;
}

.text-dark {
  color: #2b3848 !important;
} */

[data-bs-theme="light"] {
  --bs-primary: #2b3848;
  --bs-primary-rgb: 43, 56, 72;
  --bs-body-bg: #e2c59d;
  --bs-body-color: #2b3848;
}


[data-bs-theme="dark"] {
  --bs-primary: #e2c59d;
  --bs-primary-rgb: 226, 197, 157;
  --bs-body-bg: #2b3848;
  --bs-body-color: #e2c59d;
}

/* .btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-color: var(--bs-primary);
} */

.parent-grid-container {
  display: grid;
  column-gap: 0; 
  margin: 0;
  padding: 0;
}

.nav-bar-light {
  align-self: flex-start;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
  background-color: #2b3848;
  color: #e2c59d;
}
.nav-bar-dark{
  align-self: flex-start;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
  background-color: #e2c59d;
  color: #2b3848;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  opacity: 0.8;
}
.nav-bar-light img{
  width: 100px;
}
.nav-bar-dark img{
  width: 100px;
}

.dark{
  background-color: #2b3848;
  color: #e2c59d;
}

.light{
  background-color: #e2c59d;
  color: #2b3848;

}

.home-page{
  display: grid;
  grid-template-rows: 1fr 3fr ;
  width: 100vw;

}

.hero-header{
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
}

.hero-header img{
  margin: 0;
  padding: 0;
  max-width: 20%; 
  height: auto;  
  display: block; 
  align-self: flex-start;
}
.hero-header button{
  width: 100px;
}

.hero-left{
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-bottom: 10px;
}
.hero-right{
  grid-column-start: 2;
  display: flex;
}


.main-content{
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.side-bar{
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  height: 100%;
  margin: 0;     
  padding: 0;  
}
side-bar ul{
  list-style: none;        
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;  
  width: 100%;
}
.side-bar a{
  display: block;          
  width: 100%;            
  padding: 15px 20px;     
  text-decoration: none;   
  box-sizing: border-box;   
  border-bottom: 1px solid; 
  transition: background 0.3s;
  margin: 0;
  text-align: center;
}

.side-bar button{
  display: block;           
  width: 100%;              
  padding: 15px 20px;      
  text-decoration: none;   
  box-sizing: border-box;  
  border-bottom: 1px solid; 
  transition: background 0.3s;
  margin: 0;
  background: none;
  color: inherit;
}
.side-bar a:hover {
  background-color: #3e4d5d;
  color: #e2c59d;
}

.side-bar a:active {
  background-color: #1a242f;
}

.side-bar button:hover {
  background-color: #3e4d5d;
  color: #e2c59d;
}

.display-list{
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid;
}

.display-list-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-list-header img{
  max-width: 20%;
}

.display-list-footer button{
  background-color: #767165;
  color: #2b3848;
}

.display-list-footer button:hover{
  background-color: #e5dac3;
}

@media (max-width: 500px) {

.hero-header img{
display: none;
}
.display-list-header img{
  display: none;
}



}