* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App.css */
:root {
  --bs-primary: #767165;
  --bs-primary-rgb: 118, 113, 101;
  --bs-dark: #2b3848;
  --bs-dark-rgb: 43, 56, 72;
}

.btn-primary {
  --bs-btn-bg: #767165;
  --bs-btn-border-color: #767165;
  --bs-btn-color: #e2c59d;
  --bs-btn-hover-bg: #e5dac3;
  --bs-btn-hover-border-color: #e5dac3;
  --bs-btn-hover-color: #2b3848;
  --bs-btn-active-bg: #4a463e;
}

[data-bs-theme="light"] {
  --bs-primary: #2b3848;
  --bs-primary-rgb: 43, 56, 72;
  --bs-body-bg: #e2c59d;
  --bs-body-color: #2b3848;
}

[data-bs-theme="dark"] {
  --bs-primary: #e2c59d;
  --bs-primary-rgb: 226, 197, 157;
  --bs-body-bg: #2b3848;
  --bs-body-color: #e2c59d;
}

.nav-bar-light {
  background-color: #2b3848;
  color: #e2c59d;
}
.nav-bar-dark {
  background-color: #e2c59d;
  color: #2b3848;
}

.nav-bar-light img {
  width: 100px;
}
.nav-bar-dark img {
  width: 100px;
}

.display-list-img {
  width: 25%;
}
.hero-img {
  width: 15%;
}

@media (max-width: 500px) {
  .hero-img {
    display: none;
  }
  .display-list-img {
    display: none;
  }
}
